/* src/components/VideoSlider/VideoSlider.css */
.video-card {
    margin: 0 10px; /* Adjust the value as needed for spacing */
    padding: 10px;
    box-sizing: border-box;
}

.video-card img {
    width: 100%;
    border-radius: 10px;
}

.video-card p {
    text-align: center;
    color: white;
    margin-top: 10px;
}
